[Unit]
Description=Opentripplanner instance for the Berlin-Brandenburg region
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/opentripplanner-berlin
ExecStart=/usr/bin/java -Xmx6G -jar otp.jar --server --basePath ./ --router berlin --insecure
Restart=on-failure # or always, on-abort, etc
StandardInput=file:/var/log/opentripplanner.log
StandardOutput=file:/var/log/opentripplanner.log

[Install]
WantedBy=multi-user.target
